[Unit]
Description=Lift Indicator Daemon
After=sound.target indicator-setup.service
Wants=sound.target indicator-setup.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/indicator

ExecStart=/home/pi/indicator/indicator \
    --config=/data/pi_nku_configs/nku_scheme.toml

Restart=always
RestartSec=2
TimeoutStopSec=5
KillMode=control-group

StandardOutput=journal
StandardError=journal
SyslogIdentifier=indicator

[Install]
WantedBy=multi-user.target
